body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.header .top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul,
.logo {
    flex-shrink: 0;  
}

.header .bottom {
    display: flex;
    align-items: center;
}

.header .top,
.header .bottom {
    margin-bottom: 100px;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    padding: 5px 30px;
}

img {
    flex-shrink: 1;
}

.main-title,
.description,
.left button {
    margin-bottom: 16px;
    margin-right: 50px;
}

.body1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 130px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.card img {
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text {
    width: 150px;
    text-align: center;
    color: #9c9c9c;
}

.body2 {
    background-color: #e5e7eb;
    padding: 100px 150px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quoteby {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    justify-content: end;
}

.action {
    background-color: #3882f6;
    margin: 80px 120px;
    padding: 40px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-border {
    border: 2px solid #e5e5e5;
}

.action-left {
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action-header {
    font-size: 24px;
    font-weight: bold;
}

.action-description {
    color: #cacaca;
}

.footer {
    background-color: #1f2937;
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    padding: 30px;
}